# Supabase Bilgileri (Örnek)
VITE_SUPABASE_URL=https://ornek-proje-id.supabase.co
VITE_SUPABASE_ANON_KEY=senin_anon_key_anahtarin_buraya_gelecek

# Port Bilgileri (Örnek)
VITE_CLIENT_PORT=3200
VITE_ADMIN_PORT=3201